{% extends 'shopapp/base.html' %}

{% block title %}
    Product list
{% endblock %}

{% block body %}
    <h1> Products </h1>
    <div>
        <ul>
        {% for product in products %}
            <div>
               <p> Name: {{ product.name}} </p>
               <p> Price: {{ product.price}} </p>
               <p> Diacount: {% firstof product.discount 'no discount'  %} </p>
            </div>
  
        {% empty %}
            No products here
        {% endfor%}
        </ul>
    </div> 
{% endblock %}