{% extends 'shopapp/base.html' %}

{% block title %}
    Product list
{% endblock %}

{% block body %}
    <h1> Products </h1>
    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Discount</th>
            </tr>
        {% for product in products %}
            <tr>
                <td><a href={% url 'shopapp:product-detail' pk=product.pk %}>{{ product.name }} </a></td>
                <td> {{ product.price}} </td>
                <td> {% firstof product.discount 'no discount'  %} </td>
            </tr>
  
        {% empty %}
            No products here
        {% endfor%}
        </table>
    </div>
    {% if perms.shopapp.add_product %}
        <div>
            <a href={% url 'shopapp:product-create' %}>
            Create a new product
            </a>
        </div
    {% endif %}
{% endblock %}