{% extends "shopapp/base.html" %}

{% block title %}
    Shop Title
{% endblock %}

{% block body %}
    <h1> Hello Shop Index</h1>
    <div>
        <p></p><a href={% url 'shopapp:order-list' %}>Order list</a></p>
        <p></p><a href={% url 'shopapp:product-list' %}>Product list</a></p>
    </div> 
    <div>
        <ul>
            {% for name, price in products %}
                <li> {{ name }} - {{ name|length }} letter - for $ {{ price|floatformat:"2" }}</li>
                {% if name|length_is:'7' %}
                    <span> Lucky product</span>
                {% endif %}
            {% empty %}
                No products
            {% endfor %}
        </ul>
    </div>
    <div>
        Time runing: {{ time_runing }}
    </div>

    <div>
        {% lorem 3 p random %}
    </div>

    

{% endblock %}




    
